body{
	font-family:Calibri;
	background-color:#2E2100;
	color:#FFCF52;
}
button, input{
	background-color:#2E2100;
	color:#FFCF52;
	border-color:#FFCF52;
	padding:5px;
}
button{
	font-weight:bold;
	padding:15px;
}
.featuredMods{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
}
.metaInfo{
	border:1px solid #FFCF52;
	padding:20px;
}
.gameAmount{
	font-weight:bold;
}
.timeRange{
	font-style:italic;
}
.featuredMods{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.featuredModName{
	text-shadow: 2px 2px #2E2100;
	font-size:24pt;
	font-weight:bold;
	border-bottom:1px solid #FFCF52;
	font-variant:small-caps;
	padding:20px;
}
.featuredBlock{
	min-width:480px;
	display:flex;
	flex-direction:column;
	border:1px dotted #6F8F95;
	margin:20px;
}
.mapPreview{
	padding:10px;
}
.mapList{
	
}
.map{
	margin-left:64px;
}
.mapLine{
	border-bottom: 1px solid #6F8F95;
	margin-top:25px;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.mapName{
	font-size:14pt;
	text-shadow: 2px 2px #2E2100;
	font-weight:bold;
}
.mapPlayCount{
	font-style:italic;
}

.color-0{
	color:#89C4F4;
}
.color-1{
	color:#87D37C;
}
.color-2{
	color:#F5D76E;
}
.color-3{
	color:#ECF0F1;
}
.color-4{
	color:#BE90D4;
}
.color-5{
	color:#FFB3A7;
}
.color-6{
	color:#36D7B7;
}
.color-7{
	color:#F08F907;
}
.color-8{
	color:#26C281;
}
.demo-container {
	box-sizing: border-box;
	width: 1px;
	height: 1px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}